
<%= stylesheet_link_tag "listings.scss" %>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<p>Frustrated at being unable to book a treehouse,<br>
  Alastair went in search of somewhere else unusual<br>
  to stay. <br>
  That search gave him an idea, and that idea became<br>
  this collection of unusual places to stay. Then ‘glamping’<br>
  rolled around and it’s been a wild outdoor non-stop adventure since!<br>

We started with just seven spaces and today have over 500 in the UK,<br>
Ireland, France, Spain, Portugal and Italy.<br>
Championing the small and independent, and being an advocate of sustainable<br>
tourism, we genuinely care about what we do, and how we do it.<br>
We know no one else out there is like us. And that’s pretty special.</p>

<br>
<br>
<br>
  <p><%= link_to "Back", root_path %></p>
<<<<<<< HEAD
  <br>
=======
>>>>>>> 80631db47c526097fbffcce9101b155e438b8780

  <h5> TreeHouses is the trading name of Treehouses Limited. The company is registered in Canada with Registered Number 69189. The Registered Address is: Lime Tree House, Hoole Lane, Canada, CH2 3EG. The VAT Registration No. is 20 9794 88.</h5>
