<h1>About</h1>

<p>Frustrated at being unable to book a treehouse,
  Alastair went in search of somewhere else unusual
  to stay. That search gave him an idea, and that idea became
  this collection of unusual places to stay. Then ‘glamping’ rolled
  around and it’s been a wild outdoor non-stop adventure since!

We started with just seven spaces and today have over 500 in the UK,
Ireland, France, Spain, Portugal and Italy.  Championing the small and
independent, and being an advocate of sustainable tourism, we genuinely
care about what we do, and how we do it.
We know no one else out there is like us. And that’s pretty special.</p>

<a href="index.html.erb">terug naar de home page</a>
