<%= stylesheet_link_tag "listings.scss" %>

 <h2>Ways to contact us</h2>
 <p>Call 01244 216695 - Open 9am To 9.30pm, 7 Days A Week<br>
 Our expert advisers are specially trained to help you find<br>
 the perfect holiday cottage.</p>

 <h2>TreeHouse</h2>

 <p>Richard House, Lower Bridge Street,<br>
   Chester, Cheshire, CH1 1RU<br>
 Phone: 01244 356695<br>
 Office hours: 9am to 9.30pm, 7 days a week<br>

 Our Windermere Address:<br>
 29 Main Road, Ariverdeci-Court<br>
  LA23 1DX CANADA<br>

 Phone: 01539 496444
 Office hours: 9am to 5.30pm, Monday to Saturday</p>
  <p><%= link_to "Back", root_path %></p>
<h5> TreeHouses is the trading name of Treehouses Limited. The company is registered in Canada with Registered Number 69189. The Registered Address is: Lime Tree House, Hoole Lane, Canada, CH2 3EG. The VAT Registration No. is 20 9794 88.</h5>
