<h1>TreeHouses</h1>
<%= stylesheet_link_tag "listings.scss" %>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
 <br>

  <p><%= link_to "Back", root_path %></p>
