<h1>TreeHouses</h1>

<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-sm-6 col-md-4">
    <%= link_to listing do %>
      <h2><%= listing.name %></h2>
      <%= image_tag(listing.photo,:width => 250, :height => 250, :crop => :fill, class: "img-circle") %>
    <% end %>
  </div>
  <% end %>
</div>
