<%= stylesheet_link_tag "listings.scss" %>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<h2>Rent a tree house</h2>
<h2>Please fill in the form below to complete your rental.</h2>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>








<p><%= link_to "Back", root_path %></p>
<h5> TreeHouses is the trading name of Treehouses Limited. The company is registered in Canada with Registered Number 69189. The Registered Address is: Lime Tree House, Hoole Lane, Canada, CH2 3EG. The VAT Registration No. is 20 9794 88.</h5>
