
html, body {
    margin: 0;
    min-height: 100%;
    position: relative;
    padding: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    position: sticky;
    color: #49A220;
    font-variant: small-caps;
    font-size: 28px;
    link-color: white;
    text-decoration: none;
    background-image: image-url('palmtree.jpg');
    background-repeat: no-repeat;


}

/* unvisited link */
a {
    font-size: 28px;
    color: #186B00;
    text-decoration: none;
}
a:hover {
    color: white
}

.navbar{
  background-color: #064107;
}
