div {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  position: sticky;
  color: white;
  font-size: 25px;
  link-color: white;
  text-decoration: none;
  background-image:image-url('palmtree.jpg');
}
